* {
  margin: 0;
  padding: 0;
}

.pdf-container {
  width: 92%;
  /* height: 86vh; */
  height: 100vh;
  background-color: #e4e4e4;
  /* overflow-y: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.error-msg {
  width: 100%;
  color: red;
  font-size: 14px;
  font-weight: 600;
}
