.aboutTitle {
  /* background: green; */
  /* margin-top: 60px; */

  animation: wait 1.5s, fadeIn 1.5s;
  animation-delay: 0s, 1.5s;
  font-family: Marker Felt;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 0px;
  /* margin-top: 0; */
  position: relative;
  /* margin-top: 20px; */
}

.aboutBody {
  position: relative;
  width: 100%;
  animation: wait 3s, fadeIn 2s;
  animation-delay: 0s, 3s;
  color: darkgray;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}
.aboutFooterBody {
  position: relative;
  width: 100%;
  animation: wait 4s, fadeIn 4s;
  animation-delay: 0s, 4s;
  color: darkgray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutFooterTitle {
  animation: wait 4s, fadeIn 1.5s;
  animation-delay: 0s, 4s;
  font-family: Marker Felt;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 0px;
  margin-top: 0;
  position: relative;
}
