.content {
  position: fixed;
  color: white;
  min-height: 100vh;
  width: 100%;
  margin: auto;
  text-align: center;
  padding: 0%;
  overflow-y: auto;
}

.aboutTitle {
  animation: wait 1.5s, fadeIn 1.5s;
  animation-delay: 0s, 1.5s;
  font-family: Jazz LET, fantasy;
  font-size: 50px;
  font-weight: bolder;
  margin-bottom: 0px;
  margin-top: 0;
  position: relative;
}

.aboutBody {
  /* float: left; */
  /* display:contents; */
  /* align-items: center; */
  /* justify-content: center; */
  position: absolute;
  width: 100%;
  animation: wait 3s, fadeIn 4s;
  animation-delay: 0s, 3s;
  color: darkgray;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background: red; */
}
