.LRTitle {
  /* animation: wait 1.5s, fadeIn 1.5s; */
  /* animation-delay: 0s, 1.5s; */
  font-family: Marker Felt;
  /* font-size: 50px; */
  font-size: 40px;
  top: 30px;

  font-weight: bolder;
  margin-bottom: 0px;
  margin-top: 0;
  position: relative;
}

.LRBody {
  /* animation: wait 3s, fadeIn 8s; */
  /* animation-delay: 0s, 3s; */
  color: darkgray;
  position: relative;
  top: 10vh;
}

.btn {
  padding: 10px;
  background: transparent;
  color: rgb(58, 127, 201);
  font-weight: bolder;
  border-radius: 20px;
  border-color: gray;
  margin: 10px;
}
