.LRBody {
  /* animation: wait 3s, fadeIn 8s; */
  /* animation-delay: 0s, 3s; */
  color: darkgray;
  position: relative;
  top: 10vh;
}

.btn {
  padding: 10px;
  background: transparent;
  color: rgb(58, 127, 201);
  font-weight: bolder;
  border-radius: 20px;
  border-color: gray;
  margin: 10px;
  opacity: 0.6;
}
