.content {
  position: fixed;
  color: white;
  top: 0px;
  height: 100vh;
  width: 100%;
  margin: auto;
  text-align: center;
}

.contentTitle {
  animation: wait 1.5s, fadeIn 1.5s;
  animation-delay: 0s, 1.5s;
  font-family: Jazz LET, fantasy;
  font-size: 100px;
  font-weight: bolder;
  margin-bottom: 0px;
  position: relative;
  top: 20vh;
}

.contentBody {
  animation: wait 3s, fadeIn 8s;
  animation-delay: 0s, 3s;
  color: darkgray;
  position: relative;
  top: 20vh;
}
