@import url(navBar.css);
@import url(watermark.css);

@import url(labEquipments.css);

:root {
  /* --primary-color: #04619f; */
  /* --secondary-color: #000000; */
  --primary-color: skyblue;
  --secondary-color: #ffffff;
  --font-color: white;
  --background: linear-gradient(
    45deg,
    var(--primary-color),
    var(--secondary-color)
  );

  --nav-height: 12vh;
}

.background {
  background: var(--background);
  position: fixed;
  width: 100%;
  /* min-height: 100vh; */
  height: 100%;
  animation: fadeIn 6s;
  opacity: 0.85;
  z-index: -1;
}

.pageTitle {
  background-color: rgba(91, 91, 91, 0.379);
  color: black;
  margin-top: 45px;
  opacity: 0.35;
  font-size: 10vw;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.pageBody {
  /* background: red; */
  padding-top: 10px;
  text-align: center;
}

.page {
  /* background-color: yellow; */
  width: 100%;
  min-height: calc(100vh - var(--navBarHeight));
  display: flex;
  flex-direction: column;
}

@import url(mobileNavBar.css);

.mobileNavBar {
  display: none;
}

@media screen and (max-width: 600px) {
  .mobileNavBar {
    display: unset;
  }
  .navBar {
    display: none;
  }
}
