#watermark {
  position: fixed;
  color: rgb(69, 69, 69);
  opacity: 0.3;
  bottom: 10px;
  right: 20px;
  text-align: right;
}

#wmText {
  font-size: 12px;
  opacity: 0.7;
}
#wmName {
  font-size: 25px;
}
#wmLink {
  position: relative;
  font-size: 10px;
  opacity: 0.7;
}
#wmLink a {
  text-decoration: none;
  color: rgb(69, 69, 69);
}
