#watermark {
  position: absolute;
  color: white;
  opacity: 0.3;
  bottom: 10px;
  right: 15px;
  text-align: right;
}

#wmText {
  font-size: 12px;
  opacity: .7;
}
#wmName {
    font-size: 25px;
}
#wmLink {
    position: relative;
    font-size: 10px;
    opacity: .7;
}
#wmLink a {
    text-decoration: none;
    color: white;
}
